{{#books}}
<div class="col-md-4">
  <div class="book-panel">
    <h2>{{title}}</h2>
    <ul class='categories'>
      <li>Category 1</li>
      <li>Category 2</li>
    </ul>
    <p class="authors">Author 1, Author 2</p>
    <p class="year">{{editor}}, {{year}}</p>
    <p class="price">{{prices}}</p>
  </div>
</div>  
{{/books}}
